
           
            
            .vedio_grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 14px;


            }
           
            .vedio_preview{

               
            }
            .thumbnal {
             width: 100%;
              /* border-width: 2px;
              border-color: blue;
              border-style: solid; */
            }
               
            
            .img{
                /* margin-top: 5px; */
                 /* border-width: 2px;
                border-color: rgb(53, 53, 187);
                border-style: solid; */
            }
            
           
            .contex_div{
                margin-top: 5px;
                display: grid;
                grid-template-columns: 50px 1fr ;
                /* background-color: beige; */

            }

            .div_logo{
                /* display: inline; */
                /* width: 36px; */
                /* height: 110px; */
                vertical-align: top;
                /* margin-top: 0px; */
            }

            .logo{
                    width: 36px;
                    border-radius: 36px;
                    margin-top: 0px;
                    vertical-align: middle;
            }

            .contex{
                display: inline-block;
                width: 80%;
                /* margin-top: 2px; */
            }
            .head{
                /* display: inline-block; */
                vertical-align: top;
                margin-top: 0px;
                font-size: 14px;
                font-weight: 500;
            }
             .chanel_name{
                font-family: roboto;
                font-size: 12px;
                color: rgb(96, 96, 96) ;
                margin-top: 12px;
            }
            .views{
                color: rgb(96, 96, 96) ;
                font-size: 12px;
                margin-top: 2px;


            }